@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Tumble Tracker</h1>
    <div>
        <a asp-controller="Gymnasts" asp-action="Index">Your Gymnasts</a>
        <br/>
        <a asp-controller="Meets" asp-action="Index">Your Meets</a>
    </div>
</div>
